
/* Hex */
$hb-red-hex: #A81113;
$hb-red-bright-hex: #E64E51;
$hb-red-dark-hex: #54080A;
$hb-white-hex: #E6DFDF;
$hb-black-hex: #241C1C;

/* RGBA */
$hb-red-rgba: rgba(168,17,19, 1);
$hb-red-bright-rgba: rgba(230,78,81, 1);
$hb-red-dark-rgba: rgba(84,8,10, 1);
$hb-white-rgba: rgba(230,223,223, 1);
$hb-black-rgba: rgba(36,28,28, 1);

/* HSLA */
$hb-red-hsla: hsla(359, 81, 36, 1);
$hb-red-bright-hsla: hsla(358, 75, 60, 1);
$hb-red-dark-hsla: hsla(358, 82, 18, 1);
$hb-white-hsla: hsla(0, 12, 88, 1);
$hb-black-hsla: hsla(0, 12, 12, 1);
